<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ergomotions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"  android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ErgomotionsApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditEmployeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompanyMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddCompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmployeeMainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AddEmployeeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ListCompaniesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListEmployeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>